{% extends 'layout.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('styles/profil.css') }}">

    <h1>Bienvenue sur votre profil</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <p class="text">Voici les informations de votre compte :</p>

    <ul class="ul">
        <li class="li">Email : {{ user.email }}</li>
        <li class="li">Pseudo : {{ user.pseudo }}</li>
        
        {% if user.avatar %}
        <img src="{{ asset('avatar/' ~ user.avatar) }}" alt="Avatar" class="avatar">
    {% else %}
        <img src="{{ asset('avatar/default/default-avatar.png') }}" alt="Avatar par défaut" class="avatar">
    {% endif %}

    {% if user.description %}
        <p>Description : {{ user.description }}</p>
    {% else %}
        <p>Description : Aucune description</p>
    {% endif %}

    {% if user.emploi %}
        <p>Emploi : {{ user.emploi }}</p>
    {% endif %}

    {% if user.telephone %}
        <p>Téléphone : {{ user.telephone }}</p>
    {% endif %}

    {% if user.siteURL %}
        <p>Site web : <a href="{{ user.siteURL }}" target="_blank">{{ user.siteURL }}</a></p>
    {% endif %}
        
    </ul>

   <div class="update">
    <a href="{{ path('app_modifier_informations') }}">Modifier mes informations</a>
    </div>
  
    <h3 class="titrecollection">Mes collections</h3>
    <table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Visibilité</th>
            <th>Catégorie</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collection %}
            <tr>
                <td>{{ collection.titre }}</td>
                <td>{{ collection.description }}</td>
                <td>
                    {% if collection.isPublic %}
                        Public
                    {% else %}
                        Privé
                    {% endif %}
                </td>
                <td>{{ collection.categorie }}</td>
                <td><a href="{{ path('app_detail_collection', {id: collection.id}) }}">Détails</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
