<link rel="stylesheet" href="assets/styles/nav.css">

<ul class="nav">
  <li class="liste"><a href="{{ path('app_accueil')}}">Accueil</a></li>
  <li class="liste"><a href="{{ path('app_inscription') }}">inscription</a></li>
  <li class="liste"><a href="{{ path('app_connexion') }}">Connexion</a></li>
  <li class="liste"><a href="{{ path('app_profil') }}">Profil</a></li>
  <li class="liste"><a href="{{ path('app_liste_collections')}}">Collection</a></li>
  {# <li class="liste"><a href="{{ path('app_liste_collections')}}">Ajouter une collection</a></li> #}
  <li class="contact"><a href="{{ path('app_logout')}}">Deconnexion</a></li>
  <li class="liste"><a href="{{ path('app_liste_posts')}}">Posts</a></li>
</ul>